<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new adoption application has been submitted!</h1>
    <p>
      Please visit http://www.vondubinhaus.com/applicants to view.
    </p>
    <p>Thanks!</p>
  </body>
</html>
