<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A New Comment has been made on <%= @dog %>'s profile</h1>
    <p>
      Please visit www.vondubinhas.com to view.
    </p>
    <p>Thanks!</p>
  </body>
</html>
