<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A donation has been made via vondubinhaus.com!</h1>
    <p>
      Please visit http://vondubinhaus.com/donations to view.
    </p>
    <p>Thanks!</p>
  </body>
</html>
