<center><header>Available for Adoption</header></center>
<br>
<div id="profile">
  <% @dogs.each do |dog| %>
  <%= image_tag dog.image.url(:profile), id:'pic' =%>
    <br>
    <i><h3>Learn more about <%= link_to dog.name, dog_path(dog), id:'index-profile-font' %>!</h3></i>
    <hr>
    <br>
  <% end %>
</div>
