<header>Training</header>
<br>
<div id="rescue-page-text">
  <h1>We Don't Just Train Dogs - We Train You!</h1>
  Your best friend is already fully trained when it comes to acting like, well, a dog.
  Barking, digging, chewing, even growling and biting are all things that are natural
  to your dog, but not always appreciated by socialized humans.
  <br><br>
  We will show you all the little clues your dog gives to let you know what he's thinking.
  Simple eye expressions, such as blinking or staring can be powerful tools when used correctly.
  Our dogs are such naturals at being in tune with our body language and verbal tones; they have
  been perfecting their skills for years. Now it's your turn to take control and be one step ahead
   - as the pack leader should.
  <br><br>
  We specialize in the most difficult behavior problems, and take great pride in saving
  dogs from the animal shelter system. Please make one last call before you make such an
  important decision.
  <br><br>
  <h2>Pricing:</h2>
  • Initial Consultation / Temperament Test - $40
  <br>
  • Hourly Rate - $75/hr
  <br>
  • Lifetime Training Package - Starting at $600
  <br>
  • Advanced Training & Behavior Modification - Case by Case
  <br><br>
  <h2>Duration:</h2>
  Basic obedience and behavior focused training programs generally take 8 weeks of
  consistent weekly lessons, but we offer lifetime (of the dog) training. We will work
  with you and your dog until you are satisfied with your dog's progress.
  <br><br>
  <h2>Training Contact Information:</h2>
  Phone: (503) 936-0641
  <br>
  Email: vondubinhaus@gmail.com
  <br><br>
</div>
