<div id="payment-text">
  Success!
</div>
<br>
<div id="donation-page-text">
  Your application has been submitted!
  <br><br>
  We will contact you shortly once we've had time to look things over to
  determine whether or not you are a good fit for this dog.
  <br><br>
  Thank you!
</div>
<br>
<div id="back-link">
<%= link_to "Go To Available Rescue Dogs", dogs_path %>
<br>
<%= link_to "Go To Home Page", root_path %>
</div>
