<div class="universal-page">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/vondubinhaus/general/images/gsd-lay.png", id: "pic") %>
  <div class="universal-page-text">
   <div id="header-text">
     Donate
   </div>
  <br>
  Von Dubinhaus Shepherds Rescue is funded completely out of pocket. Donations
  of any amount gifted to our organization are greatly appreciated as it allows us to
  continue to do what we love so much -- help German Shepherd Dogs in need!
  <br><br>
  Aside from cash donation we also accept dog food, travel kennels, kennel panels,
  fencing, blankets or paving stones for kennel flooring, toys and treats. Our rescue dogs and their
  future owners will be very grateful for any contributions to help the
  rescue -- it truly makes a massive difference!
  </div>
  <div id="forms">
    <div class="forms">
      <%= render 'form' %>
    </div>
  </div>
</div>
