<header>Donate</header>
<br>
<div id="rescue-page-text">
  Von Dubinhaus Shepherds Rescue is funded completely out of pocket. Donations
  of any amount gifted to our organization are greatly appreciation as it allows us to
  continue to do what we love so much -- help German Sheperd Dogs in need!
  Below we have some set amounts to choose from for those who wish to donate.
  Thank you for your support and visiting our site!
  <br><br>
  You might also guess that maintaining our facilities, gear, and advertising is expensive
  and survives only from donations. If you would like to make a donation, kennel panels,
  fencing, blankets or paving stones for kennel flooring - our foster dogs and their
  future owners would be very grateful.
</div>
<br>

<h1>Make a Donation</h1>
<%= render 'form' %>
