<header>Donate</header>
<br>
<div id="rescue-page-text">
  Von Dubinhaus Shepherds Rescue is funded completely out of pocket. Donations
  of any amount gifted to our organization are greatly appreciation as it allows us to
  continue to do what we love so much -- help German Shepherd Dogs in need!
  <br><br>
  Aside from cash donation we also accept dog food, travel kennels, kennel panels,
  fencing, blankets or paving stones for kennel flooring, toys and treats - our rescue dogs and their
  future owners would be very grateful for any contributions to help the rescue!
</div>
<br>
<h1>Make a Donation</h1>
<%= render 'form' %>
