<header>FAQ</header>
<br>
<div id="rescue-page-text">
  <b>"I give my dog everything she wants; a comfy bed, treats, walks in the park,
     but she is still destroying my house during the day and even growling at me
     when I feed her, what else can I do?"</b>
  <br><br>
  Lesson one - she's a DOG!! Treating your treasured pooch like a child is easily
  the most common issue behind most behavior problems. We will give you the tools
  to become the pack leader your dog needs.
  <hr>
  <b>"My dog got out again this morning and ran all over the neighborhood for twenty
  minutes with me about a block behind screaming like a mad man. How can I get my
  dog to listen to me?"</b>
  <br><br>
  Believe it or not, we will show you that running away from your dog,
  (while acting a bit like a mad man), will be one of the tactics to get Fido to
   return almost immediately. We'll also show you some ongoing conditioning tools
   that will always keep him by your side.
   <hr>
  <b>"My dog, Superfly, has the whole backyard to run around all day while I'm at
     work but he just barks and howls and my neighbors are leaving threatening
     notes on my door. What can I do?"</b>
  <br><br>
  There are quite a few simple techniques to build up your dog's confidence so he
  will behave quietly on his own for a few hours every day. We will start with the
  easiest and work with you and Superfly until the neighbors start inviting you
  over for bbq's again.
  <hr>
  <b>"We just got a new dog but she goes nuts, barking and lunging at our poor family
   cat. Is it even possible to get a dog and cat to live in harmony under the same
  roof?"</b>
  <br><br>
  We actually have a trained cat, yes, a cat, that is willing to lay himself at
  the jaws of death to help your pooch get over his natural fasination with small
  animals. We will teach your dog that aggressive behavior toward cats or even small
  dogs is not polite and simply not tolerated.
  <br><br>
  Don't worry, we will have all of your household species living in peace and
  harmony - it will just take some consistent discipline executed by everyone in
  the house.
  <hr>
  <b>"My two year old Lab is digging up my plants, grass and even the new barkdust
     I just spread last week!! I can't keep her inside all the time and I want to
      have a decent backyard to relax in, how can I get her to stop destroying everything?"</b>
  <br><br>
  Trust us, our own dogs also act like their primal selves and love to dig holes
  and pull up plants. One option is to simply re-direct their energy to positive
  digging and weed pulling to keep your landscaping in tip-top shape.
  (One of our male German Shepherds was the main excavator - digging up a huge
  stump in our front yard, just a few weeks ago)
  <br><br>
  As you can see, some of these techniques are similar to those you would use with
   a child, however, your intelligent best friend has perfected the art of taking
    space in your warm bed - and you may be the one left out in the cold.
</div>
<br>
