<div id="about-page">
  <div id="header-text">
    About Us
  </div>
  <br>
  <%= image_tag("https://s3-us-west-2.amazonaws.com/vondubinhaus/general/images/paul.png", id:"about-image") %>
  <h1>Paul Dubinski</h1>
  <p id="title-font">Owner/Training Coordinator</p>
  <p id="about-text">
    Paul has been a well-known dog trainer in the Portland area for over 15 years.
    He works with all breeds and behavioral issues, but specifically specializes in aggression rehabilitation,
    for which he has a great passion.
    No dog is too much of a challenge for Paul and he relishes the challenge of helping struggling dogs
    reach their potential and lead happy, well-balanced lives with their families.<br>
    Previously, Paul was a German Shepherd breeder, line-breeding stock imported directly from Germany,
    but now focuses his energy solely on training and rescuing Shepherds in need. In his free time,
    Paul enjoys watching the Trail Blazers, live music shows, collecting military memorabilia and
    spending time with his personal pack of German Shepherds, all of whom he personally bred.
    <br><br>
    <b>Contact Paul:</b> <a href="mailto:vondubinhaus@gmail.com" id="index-email-link">vondubinhaus@gmail.com</a>
  </p>

  <hr id="about-hr">
  <%= image_tag("https://s3-us-west-2.amazonaws.com/vondubinhaus/general/images/seroyers.jpg", id:"about-image") %>
  <h1>Brandon Seroyer</h1>
  <p id="title-font">Adoption Coordinator</p>
  <p id="about-text">
    Brandon is an Oregon-native and former client of Paul's who dedicates his free
    time as Von Dubinhaus' Adoption Coordinator, helping Shepherds in need
    find happy new homes and families. When not working with the dogs, Brandon is a professional
    Web Developer who enjoys catching Trail Blazers games, drinking the finest
    Micro-Brews Portland has to offer, and spending time with his fiancée, Nicole,
    and personal dogs, Jimmy and Stella.
    <br><br>
    <b>Contact Brandon:</b> <a href="mailto:brandonseroyer@gmail.com" id="index-email-link">brandonseroyer@gmail.com</a>
  </p>
</div>
