<header>About Us</header>
<br>
<div id="rescue-page-text">
  <%= image_tag("paul_training", id:"about-image") %>
  <h1>Paul Dubinski</h1>
  <p id="title-font">Owner/Training Coordinator</p>
  <p id="about-text">
    Paul has been a well-known dog trainer in the Portland area for over 15 years.
    He works with all breeds and behavioral issues, but specializes specifically in aggression rehabilitation.
    No dog is too much of a challenge for Paul and he utilizes all means necessary to help struggling dogs
    reach their potential and lead happy, well-balanced lives with their families.<br>
    Previously, Paul was a German Shepherd breeder, line-breeding stock imported directly from Germany,
    but now focuses his energy solely on training and rescuing Shepherds in need. In his free,
    Paul enjoys watching the Trail Blazers, collecting Military memorabilia and
    spending time with his personal pack of 6 German Shepherds, all of whom he personally bred.
  </p>
  <hr id="about-hr">
  <%= image_tag("brandon_jim.jpg", id:"about-image") %>
  <h1>Brandon Seroyer</h1>
  <p id="title-font">Adoption Coordinator</p>
  <p id="about-text">
    Brandon is an Oregon-native and former client of Paul's who dedicates his free time to helping
    Shepherds in need find new homes and families. When not working with the dogs, Brandon is a professional
    Web Developer who enjoys catching Trail Blazers games, drinking the finest
    Micro-Brews Portland has to offer, and spending time with his personal dog, Jimmy, and fiancée, Nicole.
  </p>
</div>
<br>
