/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* navbar */
  .navbar-default {
   background-color: black;
   border-color: black;

 }

#navbar {
  color: white;
  font-size: 16px;
  font-weight: bold;

}

body {
   background-color: #FFFFCC;

 }

hr {
     border: 1px solid #000000;
     border-style: solid;
     color: #000000;

 }

#text-color {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;

}

#nav-text {
   color: white;
   font-weight: bold;
   font-size: 20px;
   padding-left: 135px;
 }

#new-dog-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
}



header {
  font-size: 55px;
  font-weight: bold;


}

#profile {
  width: 475px;
  margin: 0 auto;

}

#pic {
  border-style: solid;
  border-width: 2px;
}

#profile-head {
  font-family: cursive;
  font-size: 65px;
}

#social {

  width: 280px;
  height: 125px;
  float: right;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 2px;
  border-top:    2px solid;
  border-left:  3px solid;
  border-bottom: 2px solid;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

#profile-box {
  border-style: solid;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70em;

}

#dog-story-comments {
  padding-right: 25px;
  padding-left: 25px;

}

#profile-head {
  padding-left: 25px;

}

#profile-pic-stats {
  padding-left: 25px;
}

#dog-links {
  padding-left: 25px;
}
