/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* navbar */
  .navbar-default {
   background-color: black;
   border-color: black;

 }

body {
   background-color: #FFFFCC;

 }

#text-color {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;

}

#nav-text {
   color: white;
   font-weight: bold;
   font-size: 20px;
   padding-left: 135px;
 }

#new-dog-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
}

hr {
    border: 1px dotted #000000;
    border-style: none none dotted;
    color: #000000;

}

header {
  font-size: 55px;
  font-weight: bold;


}

#profile {
  width: 475px;
  margin: 0 auto;

}

#pic {
  border-style: solid;
  border-width: 1px;
}

#profile-head {
  font-family: cursive;
  font-size: 65px;
}
