/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-social";
 @import "font-awesome";
 @import "social-share-button";

* {
  font-family: 'Homenaje', arial, sans-serif;
  font-size: 20px;
}

body {
  background-color: #FFFFCC;
}

header {
   background-size: 100%;
   font-size: 55px;
   font-weight: bold;
}

hr {
   border: 1px solid #000000;
   border-style: solid;
   color: #000000;
}

ul {
  list-style:none;
  padding-left:0;
}

.carousel {
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 15px black;
}

.col-lg-6 {
  position: relative;
  font-size: 14px;
  text-align: left;
}

.col-sm-4 img {
  width: 243px;
  height: 350px;
  box-shadow: 2px 2px 15px black;

    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
            transition: all 1s ease;
}

.col-sm-4 img:hover {
  width: 250px;
  height: 361px;
  box-shadow: 2px 2px 15px black;
}

.col-xs-3 {
  text-align: left;
}

.container {
  margin: auto;
  width: 100%;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-default {
  background-color: black;
  border-color: black;
  width: 100%;
  margin: auto;
}

.row {
  width: 50%;
  margin: auto;
}

.social {
  padding-left: 42%;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #000000;
  font-size: 22px;
  text-align:center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
  background: #4060A5;
}

.social .fa-instagram:hover { /* round instagram icon*/
  background: #375989;
}

.social .fa-twitter:hover { /* round twitter icon*/
  background: #00ABE3;
}

#about-hr {
  position: relative;
  bottom: 5px;
}
#about-image {
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 5px black;
}

#about-page-text {
  font-size: 22px;
  text-align: left;
  border-radius: 25px;
  padding: 2%;
  background: rgba(0, 0, 0, .10);
  box-shadow: 1px 1px 3px black;
  width: 100%;
  margin: auto;
}

#about-text {
  position: relative;
  font-size: 18px;
  bottom: 12px;
}

#alumni-name {
  position: relative;
  bottom: 58px;
  left: 5px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#alumni-page-text {
  font-size: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  background: rgba(0, 0, 0, .10);
  box-shadow: 1px 1px 3px black;
}

#alumni-row {
  width: 90%;
  margin: auto;
}

#apply-font {
  font-size: 36px;
}

#carousel-alumni {
  width: 55%;
  height: 30%;
  margin: auto;
}

#carousel-home {
  width: 90%;
  height: 20%;
  margin: 0 auto;
}

#carousel-text {
  font-size: 30px;
  font-weight: bold;
  background: rgba(0, 0, 0, .30);
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 25px;
}

#dog-box {
  box-shadow: 1px 0px 5px black;
}

#dog-comments {
  position: relative;
  bottom: 40px;
  text-align: left;
  padding-right: 25px;
  padding-left: 30px;
}

#dog-hr {
  position: relative;
  bottom: 50px;
  border: 1px solid #000000;
  border-style: solid;
  color: #000000;
}

#dog-links {
  text-align: left;
  padding-left: 25px;
}

#dog-row {
  width: 90%;
  margin: auto;
}

#dog-stats {
  position: relative;
  top: 8px;
  font-size: 26px;
  font-weight: 600;
}

#dog-story {
  position: relative;
  bottom: 45px;
  text-align: left;
  padding-right: 25px;
  padding-left: 30px;
}

#donate {
  text-align: left;
  width: 180px;
  height: 45px;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
  border-top:    2px solid;
  border-left:  3px solid;
  border-bottom: 2px solid;
  background-color: black;
  color: black;
  font-size: 100%;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border-style-top: outset;
  border-style-left: outset;
  border-style-bottom: outset;
  background: rgba(0, 0, 0, .75);
  box-shadow: 1px 1px 5px black;
}

#donation-page-text {
  font-size: 30px;
  text-align: left;
  border-radius: 25px;
  padding: 2%;
  width: 60%;
  background: rgba(0, 0, 0, .10);
  box-shadow: 1px 1px 3px black;
}

#donate-social {
  position: relative;
  top: 120px;
}

#dropdown {
  font-size: 16px;
  font-weight: bold;
}

#edit-dog-form {
  padding-right: 25px;
  padding-left: 30px;
}

#faq-question {
  font-weight: bold;
  font-size: 23px;
}

#footer-text {
  color: black;
  text-align: center;
  font-size: 14px;
  width: 60%;
  margin: auto;
}

#header {
  background: url(header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 250px;
  border-right: solid;
  border-left: solid;
  border-top: solid;
  border-width: 1px;
}

#home-page-text {
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  background: rgba(0, 0, 0, .10);
  box-shadow: 1px 1px 3px black;
}

#icon-text {
  font-size: 30px;
  font-weight: bold;
  background: rgba(0, 0, 0, .30);
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 25px;
  position: relative;
  right: 25px;
  top: 25px;
}

#icon-text-2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

#index-email-link {
  font-size: 12px;
}

#index-icons {
  width: 243px;
}

#index-profile-font {
  font-size: 30px;
}

#index-row {
  padding-left: 1%;
  width: 80%;
  margin: auto;
}

#nav-right {
  padding-top: 12px;
  width: 100%;
  margin: auto;
}

#nav-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-left: 135px;
}

#new-dog-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
}

#pic {
  border-style: solid;
  border-width: 2px;
  box-shadow: 1px 1px 5px black;
}

#profile-box {
  border-style: solid;
  border-radius: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
  margin: auto;
  background: rgba(255, 255, 255, .90);
  box-shadow: 1px 1px 5px black;
}

#profile-head {
  position: relative;
  bottom: 75px;
  font-family: 'Satisfy', cursive;
  font-size: 85px;
  text-align: left;
  padding-left: 30px;
}

#profile-page {
  padding-left: 30px;
}

#profile-pic-stats {
  position: relative;
  bottom: 55px;
  text-align: left;
  padding-left: 30px;
}

#rescue-page-text {
  width: 100%;
  margin: auto;
  font-size: 22px;
  text-align: left;
  border-radius: 25px;
  padding: 2%;
  background: rgba(0, 0, 0, .10);
  box-shadow: 1px 1px 3px black;
}

#rescue-page-text img {
  display: block;
  width:100%;
  height:auto;
}

#rescue-profile {
  border-style: solid;
  border-width: 1px;
  width: 301px;
  background: rgba(255, 255, 255, .75);
  text-shadow: 0 .5px 0 #000;
  font-size: 25px;
  text-align: center;
  box-shadow: 1px 1px 5px black;
}

#social {
  text-align: left;
  width: 180px;
  height: 62px;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 2px;
  border-top:    2px solid;
  border-left:  3px solid;
  border-bottom: 2px solid;
  background-color: black;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  border-style-top: outset;
  border-style-left: outset;
  border-style-bottom: outset;
  background: rgba(0, 0, 0, .75);
  box-shadow: 1px 1px 5px black;
}

#testimonial-profile {
  width: 475px;
  margin: 0 auto;
}

#text-color {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding-right: 35px;
  padding-left: 2px;
}

#text-color2 {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#title-font {
  position: relative;
  bottom: 10px;
  font-size: 22px;
  font-style: italic;
}
