<center><header>Von Dubinhaus Alumni</header></center>
<div id="alumni-page-text">
  The following are former rescue dogs whom have been successfully rehomed
</div>
<br><br>
<div>
  <% @testimonials.each do |testimonial| %>
    <div class="col-md-4">
      <%= image_tag testimonial.image, id:"dog-box" %>
      <div id='alumni-name'>
        <%= testimonial.name %>
      </div>
      <% if current_user %>
        <div id='edit-testimonial-form'>
        </div>
        <%= link_to "Edit", edit_testimonial_path(testimonial), id:'edit-testimonial-link', remote: true %><br>
        <%= link_to "Delete", testimonial_path(testimonial),
        :data => {:confirm => "You sure?",
          :method => "delete"} %>
      <% end %>
    </div>
  <% end %>
</div>
