<div class="universal-page">
  <div class="universal-page-text" id="dog-index-text">
    <div id="header-text">
      Alumni
    </div>
    The following dogs are former Von Dubinhaus Rescue Shepherds that have been
    successfully rescued and adopted to new families!
  </div>
  <br>
  <center>
    <div id="dog-row" class="row">
    <% @testimonials.each do |testimonial| %>
    <div class="col-md-4">
      <%= image_tag testimonial.image.url %>
      <div id='alumni-name'>
        <%= testimonial.name %>
      <% if current_user %>
        <%= link_to "Delete", testimonial_path(testimonial),
        :data => {:confirm => "You sure?",
          :method => "delete"} %>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
    <%= paginate @testimonials %>
  </center>
  <br>
</div>
