<div class="universal-page">
  <div id="forms">
    <div class="forms">
      <div id="forms">
        <header>Thank You!</header>
        <p>
        Your payment has been processed -- Thank you for
        your generous gift to Von Dubinhaus Shepherds Rescue!
        </p>
        <br>
        <%= link_to "Go to Home Page", root_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
