<div id="header-text">
  Thank You!
</div>
<div id="donation-page-text">
  Your payment has been processed -- Thank you for
  your generous gift to Von Dubinhaus Shepherds Rescue!
</div>
<br>
<div id="back-link">
<%= link_to "Go to Home Page", root_path %>
</div>
