<div>
  <p>Von Dubinhaus Shepherds Rescue is funded completely out of pocket. Donations
    of any amount gifted to our organization are greatly appreciation as it allows us to
    <br>continue to do what we love so much -- help German Sheperd Dogs in need!</p>
  <p>Below we have some set amounts to choose from for those who wish to donate.
    Thank you for your support and visiting our site!</p>
    <br>
    You might also guess that maintaining our facilities, gear, and advertising is expensive
    and survives only from donations. If you would like to make a donation, kennel panels,
    fencing, blankets or paving stones for kennel flooring - our foster dogs and their
    future owners would be very grateful.
</div>
<%= form_tag charges_path do %>
<article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <label class="amount">
    <span>Amount: $5.00</span>
  </label>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="$5 donation"
        data-amount="500"
        data-locale="auto"></script>
<% end %>
<br>
<%= image_tag("donate.jpg", id: 'pic') %>
